#div{
    height: 700px;
    border: 1px solid gray;
    background-image: linear-gradient(145deg, orange  ,white ,green  );
  
}


.butt{
    font-size: 30px;
    list-style-type: none;
    text-align: center;
    width: 150px;
    color:red;
    padding: 10px;
    margin: 20px;
    float: left;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 7px 5px 8px gray inset;
    text-decoration: none;
    
    
}



/* middle box */
#box{
    height:500px;
    width:500px;
    border : 2px solid gray;
    padding: 20px;
    margin-right:500px;
    margin-top: 40px;
    float: right;
    border-radius: 20px;
    box-shadow: 10px 20px 20px inset;
}

p{
    color: red;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px;

    
}


img{
    border: 1px solid green;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 3px inset;
    background-image: linear-gradient(145deg, orange  ,white ,green  );
    
}

input[type="submit"]{
    font-size: 30px;
    padding: 8px;
    margin: 20px;
    box-shadow: 10px 10px 8px inset;
    border-radius: 20px;
    text-align: center;
    width: calc(2deg,3deg);
}
